.btn, .btn-danger {
  display: inline-block;
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
}

.btn-danger {
  color: #fff;
  background-color: #d2322d;
}

@media screen and (max-width: 1000px) {
  .btn-danger { width : 95%; }
}
